<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security-4.2.xsd">
						
	<http pattern="/**/*.js" security="none"/>
	<http pattern="/**/*.css" security="none"/>
	<http pattern="/image/*" security="none"/>
	
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/login" access="isAnonymous()" />
		<intercept-url pattern="/main" access="permitAll" />
		<intercept-url pattern="/**" access="permitAll" />
		
        <access-denied-handler error-page="/user/denied" />
		
		<form-login username-parameter="loginid"
			password-parameter="loginpwd"
			login-page="/login"
			default-target-url="/main"
			authentication-failure-url="/login?error=1"/>
		<!--  
		<logout invalidate-session="true" logout-url="/logout"
			logout-success-url="/" />
		-->
				<!-- 중복세션 -->
		<session-management invalid-session-url="/main">
		 <concurrency-control max-sessions="1" expired-url="/main"/>
		</session-management>
	</http>

     <!-- 비밀 번호 암호화 -->
     <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	 </beans:bean>
	
	<authentication-manager>
	 	<authentication-provider user-service-ref="toyUserDetailsService">
	 		<password-encoder ref="encoder" />
	 	</authentication-provider>
	</authentication-manager>
</beans:beans>